<div>
  <h1>Angular Workshop</h1>
    <p>Elegant solutions to everyday problems.</p>
    <p>Make your next web application in minutes!</p>

    <div style='background-color:lightyellow'>
      <p> Topic:<input type='text' ng-model='page' ng-change='navigate()' />
      </p>
      <h2>{{title}}</h2>
      <p>{{text}}</p>
    </div>

    <div>
      <p>See also</p>
      <ul>
        <li ng-repeat="t in topics">
          <a ng-click='select_topic(t.title)'>{{t.title}}</a>
        </li>
      </ul>

      <!--
      -->

    </div>
    <button class='btn-link' ng-click='editing=!editing'>Edit</button>
    <div ng-show='editing' style='background-color:lightgreen'>
      <p><input type='text' ng-model='title'  />
      <p><textarea height='300px' ng-model='text' ></textarea>
      <p><button class='btn' ng-click='add()'>Add</button>
    </div>

</div>
